---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_bAxKiQA7nL4MNcTUwul4NMNa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102u622t3wtymrXOhfYAZ64d\",\n  \"livemode\": false,\n
        \ \"created\": 1383927034,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102u622t3wtymrXOc3kyY8vN\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 10,\n    \"exp_year\": 2018,\n    \"fingerprint\": \"1Gy1YHVI3TSu3P0L\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 08 Nov 2013 16:10:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102u622t3wtymrXOhfYAZ64d&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_bAxKiQA7nL4MNcTUwul4NMNa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1383927034,\n  \"id\":
        \"cus_2u62PN5DOKHaEW\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": null,\n  \"delinquent\": false,\n  \"metadata\": {},\n  \"subscription\":
        {\n    \"id\": \"su_102u622t3wtymrXOTVtvK9eR\",\n    \"plan\": {\n      \"interval\":
        \"month\",\n      \"name\": \"Monthly Streaming Plan\",\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"id\": \"basic\",\n      \"object\":
        \"plan\",\n      \"livemode\": false,\n      \"interval_count\": 1,\n      \"trial_period_days\":
        null\n    },\n    \"object\": \"subscription\",\n    \"start\": 1383927034,\n
        \   \"status\": \"active\",\n    \"customer\": \"cus_2u62PN5DOKHaEW\",\n    \"cancel_at_period_end\":
        false,\n    \"current_period_start\": 1383927034,\n    \"current_period_end\":
        1386519034,\n    \"ended_at\": null,\n    \"trial_start\": null,\n    \"trial_end\":
        null,\n    \"canceled_at\": null,\n    \"quantity\": 1,\n    \"application_fee_percent\":
        null\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\":
        {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_2u62PN5DOKHaEW/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_102u622t3wtymrXOc3kyY8vN\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2018,\n        \"fingerprint\":
        \"1Gy1YHVI3TSu3P0L\",\n        \"customer\": \"cus_2u62PN5DOKHaEW\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_102u622t3wtymrXOc3kyY8vN\"\n}\n"
  recorded_at: Fri, 08 Nov 2013 16:10:37 GMT
recorded_with: VCR 2.7.0
