---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_bAxKiQA7nL4MNcTUwul4NMNa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_102u622t3wtymrXOw80u8TfI\",\n  \"livemode\": false,\n
        \ \"created\": 1383927030,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_102u622t3wtymrXO1Mp25KqO\",\n
        \   \"object\": \"card\",\n    \"last4\": \"0002\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 10,\n    \"exp_year\": 2018,\n    \"fingerprint\": \"K6J2hkyPxKkavs5J\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 08 Nov 2013 16:10:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102u622t3wtymrXOw80u8TfI&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_bAxKiQA7nL4MNcTUwul4NMNa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Fri, 08 Nov 2013 16:10:34 GMT
recorded_with: VCR 2.7.0
