%article.video_category
  - Category.all.each do |category|
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      = render '/shared/small_video_covers', obj: category.videos
