---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102rqc2t3wtymrXObqO512nU
    headers:
      Authorization:
      - Bearer sk_test_bAxKiQA7nL4MNcTUwul4NMNa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_102rqc2t3wtymrXOUrt3dPcP\"\n  }\n}\n"
  recorded_at: Sat, 02 Nov 2013 16:07:08 GMT
recorded_with: VCR 2.6.0
