!!! 5
%html(lang="en-US")
  %body
    %p= "#{@user.username}, the credit card that we have associated with your account declined the charge for this month's service. Please update your card information to regain access to your account."